*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:#fff;
}

headerheader{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0,0,0,0.95);
    border-bottom: 2px solid red;
}

header h1{
    color:red;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    height:350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=1200") center/cover;
}

.hero h2{
    font-size:45px;
}

.hero p{
    margin-top:10px;
    font-size:20px;
}

.movies{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:#222;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
}

.card h3{
    padding:15px;
}

button{
    width:100%;
    padding:12px;
    background:red;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:darkred;
}
.search-box{
    text-align:center;
    margin:20px;
}

.search-box input{
    width:80%;
    max-width:500px;
    padding:12px;
    border:none;
    border-radius:30px;
    font-size:16px;
    outline:none;
}

.title{
    text-align:center;
    margin-top:20px;
    color:#ff3d3d;
    font-size:32px;
}

.card{
    box-shadow:0 0 20px rgba(255,0,0,.3);
}

.card img{
    height:360px;
    object-fit:cover;
}

button{
    font-size:16px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    background:#ff0000;
    transform:scale(1.05);
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:10px;
}
